.curso-main-container > .container
  overflow: hidden
  
  
.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 13%
    left: -10%
    z-index: 10
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    right: 3%
    top: 60%
    z-index: 10
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: -3%
    z-index: 10
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 18%
    left: 0
    z-index: 10

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

@media (min-width: 1201px)
  .banner-principal__info
    padding-right: 0px
    padding-left: 0px !important


@media (max-width: 426px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

  .banner-principal__info
    padding-right: 50px

.banner-principal__row .banner-principal__img
  width: 400px !important
  img
    position: relative
    z-index: 10

.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno__fondo 
  background-image: url('../assets/curso/temas/mini-banner.svg') !important

figcaption
  font-weight: normal

.fullwith-bg
  position: relative
  z-index: 0
  &--1::after
    top: 50
    left: -25px
    position: absolute
    height: 850px
    width: 800px
    background: #fafafa
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(239, 250, 244, 1) 50%, rgba(245, 245, 245, 0) 100%)
    content: ''
  &--2::after
    top: 50
    left: -25px
    position: absolute
    height: 500px
    width: 800px
    background: #fafafa
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(239, 250, 244, 1) 50%, rgba(245, 245, 245, 0) 100%)
    content: ''
  &--3::after
    top: 50
    left: -25px
    position: absolute
    height: 350px
    width: 800px
    background: #fafafa
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(239, 250, 244, 1) 50%, rgba(245, 245, 245, 0) 100%)
    content: ''

@media (min-width: 769px)
  .fullwith-bg
    &--1::after
      height: 850px
      width: 1440px
      left: -55px
    &--2::after
      height: 500px
      width: 1440px
      left: -55px
    &--3::after
      height: 350px
      width: 1440px
      left: -55px



.z-2
  position: relative
  z-index: 2

.time-line-info
  .tarjeta
    width: 300px
    position: relative

    p 
      margin-bottom: 0

  &__number
    position: absolute
    top: 10px
    right: 10px
    font-size: 18px
    font-weight: bold

    span
      color: #8C8C8C !important

  .img-infografica__item
    font-size: 14px
    color: #ffffff
    width: 5%

@media (min-width: 769px)
  .time-line-info
    .tarjeta
      width: 450px
    position: relative

.bg-tarjetas-gris
  position: relative
  &::after
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    content: url('../assets/curso/temas/tema1/bg-gris.png')
    z-index: -1

.tarjeta-flip-title
  background-color: #D9BBA9
  display: inline-block
  padding: 5px 20px
  &--right
    background-position: right

.banner-text
  background-color: #D9EBE8
  border-radius: 10px
  padding: 20px 30px
  margin-top: -10px

@media (min-width: 992px)
  .banner-text
    margin-top: -40px

.motor-title
  font-size: 14px
  position: relative
  display: inline-block
  padding: 20px 10px 20px 60px
  background-repeat: no-repeat
  background-position: right center
  background-size: cover
  background-image: url('../assets/curso/temas/title-icon-small.png')
  &--1
    background-image: url('../assets/curso/temas/title-icon.svg')


@media (min-width: 662px)
  .motor-title
    font-size: 20px
    padding: 20px 10px 20px 90px
    background-size: cover

.pills
  display: flex
  align-items: center
  padding: 18px 20px
  background-color: #EFE4DC
  border-radius: 25px
  gap: 23px
  &__img
    width: 68px
    &--rotate
      width: 80px
      transform: rotate(22deg)

.slyder-a__btn--atrs, .slyder-a__btn--sigt 
  background-color: #45CEB3
  border: none
  opacity: 1
  background-image: url('../assets/bullets/arrow-white.svg')
  &:hover
    box-shadow: none

.slyder-a__bullets__item
  background-color: #D9BBA9
  opacity: 0.4
  &--active
    background-color: #D9BBA9
    border-color: #D9BBA9
    opacity: 1

.bicolor-card
  background-color: #F7F1EE
  border-radius: 20px
  overflow: hidden
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
  height: 100%

  &__header
    background-color: #A7DED3
    padding: 14px 10px
    text-align: center

  &__content
    padding: 20px
    display: flex
    justify-content: center
    gap: 5px
  
  &__img
    min-width: 80px

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 1px


.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)


.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 18px 13px 30px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 55px))
  background-color: #45CEB3

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px


.img-infografica__card, .motor-tabs
  ul
    list-style: disc

.tarjetas-rosadas
  display: flex
  gap: 20px
  justify-content: center
  align-items: stretch
  &__title
    padding-left: 20px
    position: relative
    &::before
      content: url(../assets/curso/temas/tema5/check-icon.svg)
      position: absolute
      left: 0
  &__contenido
    background-color: #F9EBEA
    border-radius: 28px 0 28px 0
    padding: 30px
    height: 100%

.factores-slider
  &__tarjeta
    border-radius: 14px
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1)
    height: 97% !important
  &__icon 
    max-height: 90px
    max-width: 90px
  
  &__title-wrapper
    text-align: center

  &__title
    background-color: #D1D1D1
    padding: 5px 20px
    display: inline-block

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center
    justify-content: center

  .slyder-f__main
    width: 80%

  .slyder-f__btn
    height: 50px
    width: 50px
    min-width: 50px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    color: white
    .fa-chevron-left
      font-size: 19px
    .fa-chevron-right
      font-size: 19px


.custom-cards
  &__cards
    border-radius: 21px
    position: relative
    overflow: visible
    padding: 80px 20px 30px
    height: 100%
    &--1::before
      position: absolute
      content: url('../assets/curso/temas/tema5/14.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--2::before
      position: absolute
      content: url('../assets/curso/temas/tema5/15.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--3::before
      position: absolute
      content: url('../assets/curso/temas/tema5/16.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--4::before
      position: absolute
      content: url('../assets/curso/temas/tema4/23.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--5::before
      position: absolute
      content: url('../assets/curso/temas/tema4/24.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--6::before
      position: absolute
      content: url('../assets/curso/temas/tema4/25.svg')
      top: -25px
      left: 50%
      transform: translateX(-50%)
    &--p-20
      padding: 20px
    &.bg-acento-botones-20
        background-color: #A7DED3
    &.bg-primario-20
        background-color: #CED7DB
  &__img
    width: 94px
    margin: 0 auto

.tarjeta-slide__contenido
  box-shadow: -2px 2px 45px -15px rgba(100,85,85,0.75)

.text-image
  transition: transform 0.1s ease-in-out

.text-image--1::before
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  content: 'Grietas por fatiga térmica'
  padding: 5px 10px
  background-color: #45CEB3
  z-index: 2
  width: 70%
  border-radius: 20px
  text-align: center
  font-weight: bold

.text-image--2::before
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  content: 'Deformación de bancadas'
  padding: 5px 10px
  background-color: #45CEB3
  z-index: 2
  width: 70%
  border-radius: 20px
  text-align: center
  font-weight: bold

.slider-bg
  background-image: url(../assets/curso/temas/tema2/bg-3.png)
  background-size: cover
  background-position: center

.motor-timeline
  .linea-tiempo-d__item__content__title
    background-color: #D1D1D1

  .linea-tiempo-d__item__content__slot
    background-color: #E8E8E8

  .linea-tiempo-d__item.row.linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content__title
      background-color: #E8E8E8

@media (min-width: 1200px)
  .motor-timeline
    .col-auto.linea-tiempo-d__item__col-number
      margin-bottom: 50px

.slyder-f__btn.ps-3
  margin-left: 5px
.slyder-f__btn.pe-3
  margin-right: 5px

@media (min-width: 490px)
  .slyder-f__btn.ps-3
    margin-left: 20px
  .slyder-f__btn.pe-3
    margin-right: 20px

.bg-gray
  background-color: #F4F4F4

.accesibilidad
  z-index: 50


.tabla-custom
  tr
    td
      text-align: left

.img-infografica-b__modal
  background-color: #E6EBED

.img-infografica-b__modal__btn-cerrar i
  color: black

.img-infografica-b__modal__contenido div > *
  color: unset !important

.img-infografica-b__item__numero
  color: white

@media (min-width: 769px)
  .img-infografica-b__item__numero
    font-size: 25px

.img-infografica-b__item
  width: 5%

.img-infografica-b__item__tooltip
  display: flex
  align-items: center
  justify-content: center
  background-color: #E6EBFB
  border-radius: 10px
  right: -295px
  opacity: 0
  width: 200px
  top: -5px
  left: unset
  height: 50px
